<div Class ="row">
    <div Class="col-md-8 col"rd-offset-2">
        <ul class="list-unstyled">
            <% @users.each do |u| %>
                <% if u.profile %>
                <li>
                    <div class="well row <%= cycle('white', '')%>">
                        <div class="col-sm-4 text-center">
                            <%= link_to u do %>    
                                <%= image_tag u.profile.avatar.url(:thumb), class: "user-index-avatar" %>
                            <% end %>
                        </div>
                        
                        <div>
                            <h2><%= u.profile.first_name %> <%= u.profile.last_name %></h2>
                            <h3>
                            
                                <%= u.profile.job_title %> 
                                  <% if u.plan_id = 2 %>
                                    <span class="label label-danger">PRO</span>
                                  <% end %>

                            
                            </h3>
                        </div>
                        
                    </div> 
                <% end %>
                </li>
                   
            <% end %>
        </ul>
    </div>
</div>